<section class="hero is-dark is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="https://bulma.io/images/bulma-type-white.png"
                             alt="Logo">
                    </a>
                    <span class="navbar-burger burger"
                          data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                50 Pieces of the United States
            </h1>
            <h2 class="subtitle">
                Do you know them all?
            </h2>
        </div>
    </div>
</section>