<section class="hero is-dark is-small">
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <span class="icon is-large">
                            <span class="fas fa-globe-europe fa-2x"></span>
                        </span>
                    </a>
                    <span class="navbar-burger"
                          (click)="toggleMobileMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <!--<a class="navbar-burger">
                        <span class="icon is-large">
                            <span class="fas fa-globe-europe fa-2x"></span>
                        </span>
                    </a>-->
                </div>
                <div class="navbar-menu"
                     [class.is-active]="menuActive">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Link 1
                        </a>
                        <a class="navbar-item">
                            Link 2
                        </a>
                        <a class="navbar-item">
                            Link 3
                        </a>
                        <div class="navbar-item">
                            <a class="button is-light is-outlined is-rounded"
                               href="https://github.com/theSmokingFrog/state-guessing-game"
                               target="_blank">
                                <span class="icon is-medium">
                                    <i class="fab fa-github fa-lg"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                50 Pieces of the United States
            </h1>
            <h2 class="subtitle">
                Do you know them all?
            </h2>
        </div>
    </div>

    <div class="hero-footer"></div>
</section>