<app-header></app-header>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <button class="button is-fullwidth is-dark has-text-weight-bold"
                        [disabled]="!gameStarted ? true : null"
                        (click)="stop()">Stop
                </button>
            </div>
            <div class="column has-text-centered">
                <p class="heading">Timer</p>
                <p class="title is-family-monospace">{{($timer | async) | timestamp}}</p>
            </div>
            <div class="column">
                <button class="button is-fullwidth is-dark has-text-weight-bold"
                        [disabled]="gameStarted ? true : null"
                        (click)="start()">New Game
                </button>
            </div>
        </div>
        <br />
        <div>
            <div class="columns">
                <div class="column has-text-centered">
                    <p class="heading">States Matched</p>
                    <p class="title">{{countCorrectAnswers()}} / {{states.length}}</p>
                </div>
            </div>
            <progress class="progress is-small"
                      value="{{(countCorrectAnswers() / states.length) * 100}}"
                      max="100"
                      style="position: relative; top: -2.95rem; z-index: -1; opacity: 0.2">
            </progress>
        </div>
        <form [formGroup]="form"
              (submit)="submit()">
            <div class="field">
                <label for="state-input"
                       class="label">State</label>
                <div class="control">
                    <input id="state-input"
                           class="input"
                           type="text"
                           formControlName="state"
                           autocomplete="off">
                </div>
                <p class="help has-text-grey-light">Hint: Wrong answers will fade out after a few seconds...</p>
            </div>
        </form>
        <div class="is-divider"
             data-content="ANSWERS"></div>
        <div class="tags">
            <ng-container *ngFor="let it of answers">
                <span class="tag"
                      [@fadeIn]
                      [@fadeOut]
                      [class.is-primary]="isCorrect(it)"
                      [class.is-danger]="!isCorrect(it)">{{it | titlecase}}</span>
            </ng-container>
        </div>
    </div>
</section>